<div class="row">
  <div class="small-12">
    <h1>My Bets</h1>
  </div>
</div>

<div class="row align-middle">
  <div class="small-8 column">
    <div class="row align-middle">
      <div class="column shrink">
    Award:
  </div>
  <div class="column">
    <select>
      <option value="Oscars 2016">Oscars 2016</option>
      <option value="Premios Soberano 2016">Premios Soberano 2016</option>
    </select>
  </div>
  </div>

  </div>
  <div class="small-4 column">

    <div class="row align-middle">
      <div class="shrink column">
        Active:
      </div>
      <div class="column">
        <input type="checkbox" checked="true" />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>My bet</th>
        <th>Win?</th>
        <th>Share</th>
      </tr>
    </thead>
  </table>
</div>
