<div class="column callout primary" style='margin-right:1em;margin-left;1em;'>
  <p><%= pool_per_award.award_name %></p>
  <div class="stat"><%= number_to_currency pool_per_award.pool %></div>
</div>
