<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class='row' style="margin-top:2em;margin-bottom:3em;">
  <div class="small-12 columns">
    <h1>Dashboard</h1>
  </div>
</div>


<div class="row">
  <div class="small-12 column">
    <h4>Users<h4>
      <%= pie_chart(@users) %>
  </div>
</div>
