<div id="nominee_<%= nominee.id%>" class="column small-4" style="background-color:#f9f9f9;border-radius:1em;">
  <div class="row">
    <div class="small-12 small-centered columns" style="text-align:center">
      <!--<img style="max-heigth:140px; max-width:140px; margin-top:1em;" class="thumbnail" src="https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif" alt="nomee name">-->
      <img style="max-heigth:140px; max-width:140px; margin-top:1em;" class="thumbnail" src="<%= nominee.image_url %>" alt="nomee name">
    </div>
    <div class="row">
      <div class="small-12 columns small-centered" style="text-align:center">
        <h5><%= nominee.name %></h3>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns small-centered" style="text-align:center">
        <button class="button tiny">
          <i class="fi-pencil"></i>
        </button>
        <button class="button tiny alert hollow">
          <i class="fi-x"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns small-centered" style="text-align:center">
        <button class="button tiny">Place Bet</button>
        <button class="button tiny alert">Unplace Bet</button>
      </div>
    </div>

  </div>
</div>
