<div class="row">
	<a href="#">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<h1>Oscars 2016</h1>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<p>The 88th Academy Awards ceremony, presented by the Academy of 
				Motion Picture Arts and Sciences, will honor the best films of 2015 
				and will take place on February 28, 2016.
				</p>
          		</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<p> 34 days left</p>
				</div>
					<div class="large-4 columns">
						Pool: $13,500.00
					</div>
					<div class="large-4 columns">
						<span class="success round label">open</span>
						<span class="secondary round label">unlimited pool</span>
					</div>

		</div>
</div></a>
</div>
<div class="row">
	<div class="large-12 columns">
		<hr  class="award-divider" />
	</div>
</div>

<div class="row">
	<a href="#">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<h1>Premios Soberano 2016</h1>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<p>The 88th Academy Awards ceremony, presented by the Academy of 
				Motion Picture Arts and Sciences, will honor the best films of 2015 
				and will take place on February 28, 2016.
				</p>
          		</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
			<p>45 days left</p>

				</div>
					<div class="large-4 columns">
						Pool: $3,500.00
					</div>
					<div class="large-4 columns">
						<span class="success round label">open</span>
						<span class="secondary round label">unlimited pool</span>
					</div>

		</div>
</div></a>
</div>
