<div class="reveal" id="create_update_modal" data-reveal>
  <h4 id="create_update_modal_title" class="title_reveal"></h4>
  <p class="lead"></p>
  <div id="create_update_modal_content" class="reveal_content"></div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
