<% if current_user.admin %>
<div class="row" style="margin-top:2em;margin-bottom:1em;">
  <div class="small-offset-10 small-2 columns">
   <%=  link_to("Create Award", new_award_path, remote: true, class: "button success large") %>
   <!--<a data-open="create_new_award_reveal" class="button success large">Create Award</a>-->
  </div>
</div>
<% end %>

<div id="awards">
  <%= render @awards %>
</div>

<div class="new_award">
</div>

<%= render 'dialog' %>
