<div class="row" style="margin-top:2em;margin-bottom:1em;">

  <div class="large-offset-10 large-2 columns">
    <a data-open="create_new_award_reveal" class="button success large">Create Award</a>
  </div>
</div>
<div class="row">

  <a href="#">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 columns">
          <h1>Oscars 2016</h1>
          <a class="button">Edit</a>
          <a class="button alert hollow" data-open="confirm_delete_award">Delete</a>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>The 88th Academy Awards ceremony, presented by the Academy of Motion Picture Arts and Sciences, will honor the best films of 2015 and will take place on February 28, 2016.
          </p>
        </div>
      </div>
      <div class="row">
        <div id="days_left_award" class="large-4 columns">
          <p>
            34 days left</p>
        </div>
        <div id="pool_award" class="large-4 columns">
          Pool: $13,500.00
        </div>
        <div class="large-4 columns">
          <span class="success round label">open</span>
          <span class="secondary round label">unlimited pool</span>
        </div>

      </div>
    </div>
  </a>
</div>

<div class="row">
  <div class="large-12 columns">
    <hr class="award-divider"/>
  </div>
</div>


<div class="reveal" id="create_new_award_reveal" data-reveal>
  <h3>New Award</h3>
  <form>
    <label> Name
      <input id="award_name" type="text" />
    </label>
    <label>
      Description
      <textarea id="award_description" type="text" rows="10"></textarea>
    </label>
    <label>
      Active
      <div class="switch large">
       <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
       <label class="switch-paddle" for="yes-no">
         <span class="show-for-sr">Award is active?</span>
         <span class="switch-active" aria-hidden="true">Yes</span>
         <span class="switch-inactive" aria-hidden="true">No</span>
       </label>
     </div>
    </label>

    <label>
      Closing date
      <input id="award_closing_date" type="datetime-local" />
    </label>

    <button class="button success large" id="award_save">Save</button>
  </form>
  <button class="close-button" data-close aria-label="close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<div class="reveal" id="confirm_delete_award" data-reveal>
  <h3>Are you sure?</h3>
  <button class="button alert">Yes</button>

  <button class="close-button" data-close aria-label="close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
