<div class="row" style="margin-top:2em;">
  <div class="large-8 large-centered columns">
<form data-abide novalidate>
        <label>Email
          <input type="email" required pattern="email">
          <span class="form-error">
               The email is required
             </span>
        </label>


        <label>
          password
          <input id="password" type="password" required pattern="password">
          <span class="form-error">
               This field is required
             </span>
        </label>



   <div class="row" style="margin-rigth:0px;">
     <div class="large-offset-10 large-2 columns">
        <button class="button large" type="submit">Login</button>
     </div>
  </div>

</form>
</div>
</div>
