<div class="row" style="margin-top:2em;height:80vh;">



  <div class="large-3 large-centered columns" style=" position: absolute;
    left: 50%; top: 50%;  transform: translate(-50%, -50%);  -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);">


    <form data-abide novalidate>

      <label>Email
        <input type="email" required pattern="email">
        <span class="form-error">
          The email is required
        </span>
      </label>

      <label>
        password
        <input id="password" type="password" required pattern="password">
        <span class="form-error">
          This field is required
        </span>
      </label>

      <div class="row">
        <div class="large-offset-8 large-2 columns">
          <button class="button large" type="submit">Login</button>
        </div>
      </div>

    </form>


  </div>
</div>
