<h1><%= @award_name %></h1>
<% if current_user.admin %>
<div class="row" style="margin-top:2em;margin-bottom:1em;">
  <div class="small-offset-10 small-2 columns">
   <%=  link_to("Create Category", new_category_path, remote: true, class: "button success") %>
   <!--<a data-open="create_new_award_reveal" class="button success large">Create Award</a>-->
  </div>
</div>
<% end %>


<div id="categories">
  <%= render @categories %>
</div>

<div class="new_category">
</div>

<%= render 'dialog' %>
